<div class="container">
    <h1>Calculator</h1>
    <calculator-inputs></calculator-inputs>
    <calculator-sum [sum]="this.result.sum"></calculator-sum>
    <calculator-multi [multiply]="this.result.multi"></calculator-multi>
</div>