<h1>Inputs</h1>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">First Number</span>
  <input number type="number" class="form-control" placeholder="First" [(ngModel)]="firstNumber"/>
</div>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Second Number</span>
  <input number type="number" class="form-control" placeholder="Second" [(ngModel)]="secondNumber" />
</div>
<button type="button" class="btn btn-success" (click)="calculateNumbers()">Success</button>
