<div class="container">
    <h1>News</h1>
    <div class="newslist well">
        <ul class="list-group">
            <news-article *ngFor="let clanak of news" [inArticle]="clanak"></news-article>
        </ul>
    </div>
</div>
