<div class="container">
    <div *ngIf="!firstStep" className="firstStep">
    <h2>First step</h2>
    <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)" novalidate>
    <div class="input-group input-group">
        <span class="input-group-addon" id="sizing-addon1">First name</span>
        <input class="form-control" name="first" ngModel required />
    </div>
    <div class="input-group input-group">
        <span class="input-group-addon" id="sizing-addon1">Last name</span>
        <input class="form-control" name="last" ngModel required />
    </div>
     <div class="input-group input-group">
        <span class="input-group-addon" id="sizing-addon1">Email</span>
        <input class="form-control" type="email" name="email" ngModel email />
    </div>
    <div class="input-group input-group">
        <span class="input-group-addon" id="sizing-addon1">Password</span>
        <input class="form-control" type="password" name="password" ngModel required />
    </div>

    <button type="submit" class="btn btn-success">Next</button>
</form>

<p class="text-warning">Form value: {{ signupForm.value | json }}</p>
<p class="text-warning">Form valid: {{ signupForm.valid }}</p>
</div>

<div *ngIf="firstStep" className="firstStep">
    <h2>Second step</h2>
    <form #signupForm2="ngForm" (ngSubmit)="onSubmit(signupForm2)" novalidate>
    <div class="input-group input-group">
        <span class="input-group-addon" id="sizing-addon1">Age</span>
        <input class="form-control" name="age" ngModel required number />
    </div>
    <div class="input-group input-group">
        <span class="input-group-addon" id="sizing-addon1">Gender</span>
        <input class="form-control" name="gender" ngModel required />
    </div>
    <button type="submit" class="btn btn-success">Finish</button>
</form>

<p class="text-warning">Form value: {{ signupForm2.value | json }}</p>
<p class="text-warning">Form valid: {{ signupForm2.valid }}</p>
</div>

</div>
